<p>home works!</p>
<div class="flex flex-col items-center justify-center min-h-screen bg-gray-100 p-6">
    <h1 class="text-4xl font-bold text-center text-gray-800 mb-6">
      ¡Haz oír tu voz! Crea y firma peticiones
    </h1>
    
    <div class="max-w-md w-full bg-white shadow-lg rounded-2xl p-6 text-center">
      <p class="text-gray-600 mb-4">
        Únete a nuestra comunidad y ayuda a generar un cambio real.
      </p>
      <button 
        class="bg-blue-600 hover:bg-blue-700 text-white text-lg px-6 py-3 rounded-lg"
        routerLink="/peticion"
      >
        Crear Peticion
      </button>
    </div>
  </div>
  